@model List<InvoiceApp.Models.Customer>


<h2>Customer List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer?.DestinationId</td>
                <td>@customer?.DestinationName</td>
                <td>@customer?.DestinationPhone</td>
                <td>@customer?.DestinationEmail</td>
                <td>@customer?.DestinationAddress</td>
                <td>@customer?.DestinationCity</td>
                <td>@customer?.DestinationPostalCode</td>
                <td>@customer?.DestinationCountry</td>
            </tr>
        }
    </tbody>
</table>